/* General styles */
body {
    background: rgb(15,188,200);
    height: 100vh;
}

h1 {
    text-align: center;
    color: rgb(15,15,15);
    margin-bottom: 2vh;
}

.title {
    margin-top: 5vh;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: underline;
}

/* Page layout */
#projects {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-gap: 10px;
    align-items: center;
    justify-content: start;
    height: 100%;
    margin-bottom: 0;
}

/* Both projects */
#projects a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

/* Area project */
#area-of-circle {
    grid-row: 1 / span 1;
    border: 3px solid dimgray;
    background: linear-gradient(black, darkslategray);
    font-family: 'Times New Roman', serif;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-right: 1vw;
}

#area-of-circle:hover {
    border: 3px solid cyan;
}

.image-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5vh;
}

#polygon {
    width: 50%;
    height: 50%;
}

/* Combinatorics project */
#image-container-combinatorics {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.card-suit {
    font-size: 3rem;
    background: azure;
    border: 3.5px solid rgb(70,70,70);
    padding: 0 8px;
}

#diamond {
    padding: 0 11px;
}

.description {
    margin-top: 5vh;
    font-size: 1.1rem;
}

#combinatorics-project {
    grid-row: 2 / span 1;
    background: linear-gradient(rgb(0, 0, 118), rgb(0, 0, 138));
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    border: 3px solid black;
}

#combinatorics-project:hover {
    border: 3px solid rgb(120, 240, 255);
}

/* Images for both projects made responsive */
@media screen and (min-width: 400px) {
    .card-suit {
	font-size: 4rem;
    }

    #image-container-combinatorics {
	width: 75%;
    }

    #polygon {
	width: 40%;
	height: 40%;
    }
}

@media screen and (min-width: 640px) {
    .card-suit {
	font-size: 4.5rem;
    }

    #image-container-combinatorics {
	width: 50%;
    }

    #polygon {
	width: 27%;
	height: 27%;
    }
}

/* Page layout modified */
@media screen and (min-width: 960px) {
    #projects {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr; 
    }

    #image-container-combinatorics {
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
    }
}
