body {
    background: azure;
}

h1 {
    text-align: center;
}

#intro {
    margin-bottom: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: auto;
    margin-left: 15vw;
    margin-right: 1vw;
}

#regenerate {
    margin-top: 5vh;
}

.probability-section {
    width: auto;
    margin-top: 7vh; 
    height: auto;
}

#green {
    color: green;
}

#red{
    color: red;
}

#blue{
    color: blue;
}

#yellow {
    color: gold;
}

.ball2-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1px;
    background: white;
}

.ball2 {
    min-width: 60px;
    width: 5.5vw;
    grid-column: span 1;
}

.green-mixed-container {
    grid-column: span 1;
}
.blue-mixed-container {
    grid-column: span 1;
}
.red-mixed-container {
    grid-column: span 1;
}
.yellow-mixed-container {
    grid-column: span 1;
}

.ball2-green {
    border-left: 4px solid midnightblue;
    border-top: 4px solid midnightblue;
    border-right: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
}

.ball2-red {
    border-left: 2px solid mediumaquamarine;
    border-top: 4px solid midnightblue;
    border-right: 4px solid midnightblue;
    border-bottom: 2px solid mediumaquamarine;
}

.ball2-blue {
    border-left: 4px solid midnightblue;
    border-top: 2px solid mediumaquamarine;
    border-right: 2px solid mediumaquamarine;
    border-bottom: 4px solid midnightblue;
}

.ball2-yellow {
    border-left: 2px solid mediumaquamarine;
    border-top: 2px solid mediumaquamarine;
    border-right: 4px solid midnightblue;
    border-bottom: 4px solid midnightblue;
}


.text-style {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(100, 0, 100);
}

.text-style2 {
    font-size: 1.3rem;
    color: rgb(100, 0, 100);
}

.centered {
    text-align: center;
}

.next-button-container {
    width: 4vw;
    height: auto;
    padding-left: 2vw;
    margin-top: auto;
    text-align: center;
}

#probabilities-button-container {
    width: 4vw;
    margin-right: 4vw;
    margin-left: auto;
}

#generate-container {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    border: 3px solid black;
    grid-gap: 2px;
    margin-top: 7vh;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#generate-container-copy {
    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr;
    border: 3px solid black;
    grid-gap: 2px;
    margin-top: 7vh;
    width: auto;
    background: white;
}

.ball {
    min-width: 2vw;
    max-width: 3.5vw;
}


.title-image {
    display: flex;
    width: 100%;
    justify-content: center;
}

#begin-button {
    font-size: 1.2rem;
    width: 10vw;
    height: auto;

}


.button {
    font-size: 1.2rem;
    padding-left: 4px;
    padding-right: 4px;
    height: 2rem;
    width: 150px;
    background: darkcyan;
    color: white;
}

#calculate-probability-button {
    margin-top: 3.5vh;
    width: 300px;
}

#mixing-text {
    width: auto;
}

#choose-color {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.yellow-text {
    color: gold;
}

#calculated-probabilities {
    white-space: pre-wrap;
}

#display-probabilities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#table-container {
    width: 60%
}

#display-probabilities-copy {
    margin-right: 5vw;
    width: 100%;
    min-width: 300px;

}

#table-container-copy {
    margin-left: 10vw;
    margin-right:auto;
    width: 30%;
    min-width: 300px;
}

#table-probabilities {
    display: none;
    margin-top: 5vh;
    border-collapse: collapse;
    font-size: 1.5rem;
}

#probability-section-copy {
    min-width: 300px;
    margin-left: 10vw;
    margin-right: auto;
}

tbody {
    width: 100%
}
th, td {
    border: 2px solid black;
}

th {
    height: 3vh;
    width: 20vw;
}

#draw-button {
    display: none;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}

#button-prompt {
    display: none;
    margin-top: 5vh;
}

#total-row {
    height: 6vh;
    border: 3px solid black;
}

#summary-button-container {
    display: none;
}

#summary-grid {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr;
    width: auto;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

#display-summary {
    display: flex;
    grid-column: 1 / span 1;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 2vw;
}

#summary-intro {
    grid-column: 1/ span 1;
    padding: 2vh;
    margin-left: 2vw;
    font-size: 1.5rem;
}


#analysis-container {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 5vw;
}

#summary-button {
    width: 280px;
    height: 1.9rem;
}

.definitions {
    display: inline-block;
    background: rgb(200, 250, 252);
    color: black;
    border: 2px solid black;
    padding: 1.5vw;
    margin-bottom: 4vh;
}


.notations {
    display: inline-block;
    background: rgb(220, 255, 252);
    color: black;
    border: 2px solid black;
    padding: 1.5vw;
    margin-bottom: 4vh;
}

.formulas {
    display: inline-block;
    background: rgb(230, 250, 250);
    color: black;
    width: 40%;
    min-width: 300px;
    border: 2px solid black;
    padding: 1.5vw;
    margin-bottom: 4vh;
}

#events {
    display: inline-block;
    margin-bottom: 4vh;
}

aside {
    background: rgb(200, 250, 252);
    border: 2px solid black;
    font-size: 1.3rem;
    max-width: 70vw;
    min-width: 400px;
    padding-left: 3vw;
}

#aside-title {
    text-decoration: underline;
    margin-bottom: 12px;
}


#first-draw {
    margin-left: 0;
}

#second-experiment-probabilities {
    text-align: center;
    font-size: 1.3rem;
    border-collapse: collapse;
}

.menu-container {
    display: block;
    font-size: 1.3rem;
    width: 200px;
    margin-top: 10px;
}

#second-experiment-probabilities td {
    width: 80vw;
}

@media screen and (min-width: 800px) {
    .menu-container {
	display: inline-block;
	font-size: 1.3rem;
	width: 20vw;
	margin-left: 10px;
    }

    #second-experiment-probabilities td {
	width: 28vw;
    }
}


.fade-in {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fade-in-second {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { 
    opacity: 0; 0
    }
    to { 
    opacity: 1; 
    }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from { 
	opacity: 1; 
    }
    to { 
	opacity: 0; 
	height: 0%;
	margin: 0%;
    }
}
