/* General styles */
body {
    font-family: Georgia, serif;
    font-size: 1.3rem;
}

a {
    color: rgb(30, 0, 130);
}

a:hover {
    color: rgb(130, 200, 230);
}

.title {
    font-size: 1.6rem;
    margin-top: 10px;
    font-size: 1.7rem;
    padding-left: 2%;
    text-shadow: 2px 2px 6px rgb(255, 255, 255);
}

.list-circle {
    list-style-type: circle;
}

.list-square {
    list-style-type: square;
}

.font-style1 {
    font-family: "Times New Roman", serif;
    font-size: 1.1em;
}

.font-style2{
    font-family: "American Typewriter", serif;
}

/* Page structure */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr 2fr;
  height: 100vh;
}
    
/* Main section */
main {
    grid-row: 1/2;
    border-bottom: 1px solid darkgreen;
    background-color: rgb(200,230, 230);
    color: black;
}

main address {
    margin-bottom: 0px;
    text-align: center;
}

#name {
    margin-top: 10px;
    font-size: 1.7rem;
    margin-bottom: 2px;
}

#contact-info {
    text-align: center;
    font-size: .7rem;
    color: lightslategray;
    font-weight: 600;
    margin-bottom: 5px;
}

.education {
    margin-bottom: 0px
}

.education-list, .experience-list{
    padding-right: 10%;
    font-size: .9rem;
    padding-left: 7%;
}

.school {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.cs-courses {
    padding-bottom: 1%;
}

/* Highlights section */
.highlights {
    display: none;
    background-image: linear-gradient(to right, skyblue, teal);
    padding-left: 5px;
    padding-right: 10px;
}

.highlights li {
    margin-bottom: 8px;
}

.highlights h2.title {
    text-decoration: underline;
    margin-left: 20px;
}

/* Portfolio section */
#portfolio-links {
    grid-row: 2 / 3;
    background-image: linear-gradient(to top,  teal, skyblue);
    padding-bottom: 30px;
}

#portfolio-title {
    text-decoration: underline;
    text-align: center;
}

#portfolio-prompt {
    margin-left: 2vw;
}

/* New page structure */
@media screen and (min-width: 640px) {
    .grid-container {
      grid-template-columns: 7fr 3fr;
      grid-template-rows: 1fr;
    }

    main {
	grid-column: 1 / 2;
    }

    #portfolio-links {
	grid-column: 2 / 3;
	background-image: linear-gradient(to right,  teal, skyblue);
	grid-row: 1;
    }
}

/* New page structure. Add highlights section to page. */
@media screen and (min-width: 800px) {
    .grid-container {
      grid-template-columns: 2fr 6fr 2fr;
      grid-template-rows: 1fr;
    }

    .highlights {
	display: block;
	grid-column: 1 / 2;
    }

    main {
	grid-column: 2 / 3;
    }

    #portfolio-links {
	grid-column: 3 / 4;
	grid-row: 1;
    }

    #portfolio-title {
	text-decoration: underline;
	padding-left: 7%;
    }
}

@media screen and (min-width: 1024px) {
    .grid-container {
      grid-template-columns: 2.5fr 5fr 2.5fr;
      grid-template-rows: 1fr;
    }
}
